<!DOCTYPE html>
<html>
  <head>
    <title>Puppy Adoption Agency</title>
  </head>
  
  <body>
    <h1>Here's the puppy you just added: </h1>  
    
    <h3>Puppy name: <%="\n#{@puppy.name}"%></h3>
    
    <h3>Puppy breed: <%="\n#{@puppy.breed}"%></h3>
    
    <h3>Puppy age: <%="\n#{@puppy.age}"%></h3>

  </body>
  
</html>