<!DOCTYPE html>
<html>
  <head>
    <title>Puppy Adoption Agency</title>
  </head>
  
  <body>
    <h1>Here's the puppy you just added: </h1>  
    
    <h3>Puppy name: <p><%= @puppy.name %></p></h3>
    
    <h3>Puppy breed: <p><%= @puppy.breed %></p></h3>
    
    <h3>Puppy age: <p><%= @puppy.age %></p></h3>
    
  </body>
  
</html>