<!DOCTYPE html>
<html>
  <head>
    <title>Puppy Adoption Agency</title>
  </head>
  
  <body>
    <h1>Here's the puppy you just added: </h1>  
    
    <h3>Puppy name:</h3>
      <p><%= @puppy.name %></p>
    
    <h3>Puppy breed:</h3>
      <p><%= @puppy.breed %></p>
    
    <h3>Puppy age:</h3>
      <p><%= @puppy.age %></p>
    
  </body>
  
</html>